<% include ./partials/header %>
<div class="row" style="margin-top:20px;">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <div class="black-text">
          <span class="card-title">Log In</span>
        </div>
        <br>
        <div class="input-field">
          <input placeholder="Enter Email..."  type="email" class="validate">
          <label >Email</label>
        </div>
        <div class="input-field">
          <input placeholder="Enter Password..."  type="password" class="validate">
          <label >Password</label>
        </div>
        <button class="btn grey darken-4" type="submit" >Log In</button>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>
